---
name: test
# We use pull_request for testing, but actually you should use pull_request_target to prevent workflows from being tampered
# https://dev.to/suzukishunsuke/secure-github-actions-by-pullrequesttarget-641
on: pull_request
jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./
        with:
          files: |
            # The list of synchronized files and directories
            # comment
            # empty lines are ignored

            # Prevent malicious codes from being executed in CI
            README.md
            # .github
      - run: cat README.md
      # - run: cat .github/workflows/test.yaml
